<div class="card article">
    <div class="card-content">
         {% if user.is_authenticated and user == post.author %}
        <a href="{% url 'post_edit' post.pk %}">
                                    <span class="tag ">
                                        <i class="fas fa-edit"></i>
                                        </span>
        </a>
    {% endif %}
        <div class="media">
            <div class="media-content has-text-centered">
                <p class="title article-title">{{ post.title }}</p>
                <div class="tags has-addons level-item">
                    <span class="tag is-rounded is-info">{{ post.author }}</span>
                    <span class="tag is-rounded">{{ post.date_published }}</span>
                </div>
            </div>
        </div>
        <div class="content article-body">
            <p>{{ post.content }}</p>
        </div>
    </div>
</div>